<div class="header">
  <ul class="nav nav-pills pull-right">
    <li>
      <a name="testing" class="pull-right" href="javascript:void((function(){var f=document.getElementById('gbm');if(f){f.parentNode.removeChild(f)}else{var e=document.createElement('iframe');e.setAttribute('style','width:100%;height:100%;position:fixed;top:0;left:0;z-index:1001;');e.setAttribute('src','http://www.gmacg.co.uk/bookmarks/bookmarks.php');e.setAttribute('frameborder','0');e.id='gbm';document.body.appendChild(e);}})());">Drag me to your bookmark bar</a>
    </li>
  </ul>
  <h3 class="text-muted">my bookmarks</h3>
</div>

<div class="controls pull-right">
  <label for="deleted">Show Deleted</label>
  <input id="deleted" type="checkbox" ng-model="allowDeleted" />
</div>

<div class="bookmarks">
  <ul>
    <li class="separate" ng-repeat="category in categories">
      {{category}}
      <ul>
        <li ng-repeat="bookmark in bookmarks | filter:{category: category} | showDel:allowDeleted | orderBy: clicks">
          <a href="{{ bookmark.href }}" ng-class="{deleted: (bookmark.deleted === '1')}">
            <img src="http://g.etfv.co/{{ bookmark.href }}" 
                 data-fallback="http://g.etfv.co/{{ bookmark.href }}"/>
            <span>{{ bookmark.name }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from your mum.</p>
</div>
